extends layout

block head
  title My Site

block content
  div.container
    div.row
      div.col-md-6.col-md-offset-3
        p Hello #{name} , how are you ?!!!
        button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
        select#dropdown
        button(type="button" class="btn btn-success" id="show-metrics") Bring metrics
        button.btn.btn-danger(type="button" class="btn btn-success" id="show-graph") Test
        form#addMetrics(action='/index', method="post")
          .form-group
            label Your metric batch
            textarea.form-control(cols='40', rows="5" name="timestamp and value")
          button#metric_submit.btn.btn-success.btn-block(type='submit') Add metrics
        
        #metrics
    div.row  
      div#graph(class="aGraph")
      

  script
    :coffee-script
      $(document).ready ->
        $.get "/metrics2", [], (data) ->
          content = ""
          for d in data
            $('select').append("<option value='#{d.metricId}'>#{d.metricId}</option>") 
      
      $('#show-metrics').click (e) ->
        e.preventDefault()
        idMet = $('#dropdown').val()
        $.get "/metrics/"+idMet, [], (data) ->
          content = ""
          test(data)
          for d in data
            content += "timestamp: #{d.timestamp}, value: #{d.value}"
          $('#metrics').append content
  
      $('#show-graph').click (e) ->
        e.preventDefault()
        $.get "/metrics/0", [], (data) ->
          content = ""
          test(data)
          $('#metrics').append content
      
  


        
